/* DECLARAÇÃO DE VARIAVEIS */
/* ESTILOS GERAIS */
/* BODY */
/* HEADER */
/* FOOTER */
/* PAGINA INICIAL */
/* EXTRAS */
/* @MEDIA */

/* font-family: 'Roboto', sans-serif; */


/*ESTILOS GERAIS*/
html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
}

.container{
    padding: 20px;
}

.hidden{
    display: none;
}

.minhaFoto{
    border-radius: 100%;
}

/* BODY */
body{}


/* NAV */

.feed{}
.feed nav{}
.feed .feed__menu{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    border-top: solid 1px #ccc;
}

.feed .feed__menu li{
    position: relative;
}

.feed .feed__menu li.ativo::before{
    content: "";
    display: block;
    padding-top: 10px;
    border-top: solid 2px #2c2c2c;
    position: absolute;
    top: 1;
    width: 100%;
}

.feed .feed__menu li a{
    font-size: 12px;
    padding: 0 5px;
    font-weight: bold;
    color: #000;
}

.feed .feed__galery{}
.feed .feed__galery ul{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feed .feed__galery ul li{
    max-width: 259px;
    background-color: #BDBDBD;
    max-height: 259px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}
.feed .feed__galery ul li figure{}
.feed .feed__galery ul li figure img {
    width: 100%;
}
.feed .feed__galery ul li figure figcaption{}

/* HEADER */
header{
    border-bottom: 2px solid #DBDBDB;

}

header .container{}

header .linha{
    display: flex;
    justify-content: space-between;
}

header .linha_coluna{}
header a{}
header a figure{}
header a figure img{
    width: 115px;
}

header ul{
}

header ul li{
    display: inline-block;
}

header ul li a{}

header ul li a img{
    width: 18px;
}

/* FOOTER */

/* PAGINA INICIAL(tema principal)(main) */
main{
    overflow-x: hidden;
    background-color: #FAFAFA;
    padding-bottom: 30px;
}
main article{}
main article .container{}
main article .sectionAboutUser{}
main article .sectionAboutUser .linha{}
main article .sectionAboutUser .linha_coluna{}
main article .sectionAboutUser figure{
    max-width: 120px;
    max-height: 120px;
    height: 100%;
    width: 100%;
}
main article .sectionAboutUser figure img{
    width: 100%;
    background-color: rgba(9, 120, 255, 0.411);
    height: 100%;
    padding: 3px;
    box-shadow: 1px 1px 45px rgb(9, 121, 255);
    border: groove 1px rgb(255, 0, 0);
    border-radius: 100%;

}
main article .sectionAboutUser .aboutUser{}
main article .sectionAboutUser .aboutUser__name{
    display: flex;
    align-items: center;
}
main article .sectionAboutUser .aboutUser__name h2{
    margin: 0;
    font-size: 1.1rem;
    margin-right: 10px;
}
main article .sectionAboutUser .aboutUser__name button{
    font-size: 0.7rem;
    padding: 7px 4px;
    background-color: transparent;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    font-weight: 600;
}
main article .sectionAboutUser .aboutUser__follows{
    margin-top: 20px;
}
main article .sectionAboutUser .aboutUser__follows ul{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
main article .sectionAboutUser .aboutUser__follows ul li{}
main article .sectionAboutUser .aboutUser__follows ul li a{
    color: #000;
    font-size: 0.9rem;
}  
main article .sectionAboutUser .aboutUser__follows ul li a strong{}
main article .sectionAboutUser .aboutUser__description{
    margin-top: 25px;
}
main article .sectionAboutUser .aboutUser__description h3{
    margin: 0;
    margin-bottom: 10px;
    font-size: 0.9rem;
}
main article .sectionAboutUser .aboutUser__description p{
    font-size: 0.8rem;
}
main article .sectionAboutUser .aboutUser__description p a{
    color: #00376B;
    font-weight: 600;
}
main article .sectionHighlightUser{}
main article .sectionHighlightUser ul{
    display: flex;
    margin-top: 30px;
    overflow-x: scroll;
}
main article .sectionHighlightUser ul li{
    text-align: center;
    margin-right: 10px;
}
main article .sectionHighlightUser ul li figure{}
main article .sectionHighlightUser ul li figure img{
    width: 60px;
    border-radius: 100%;
    border: solid 1px red;
    padding: 1px;
}
main article .sectionHighlightUser ul li h3{
    font-size: 0.6rem;
    margin: 0;
}

/* EXTRAS */

/* @MEDIA */

@media only screen and (min-width: 844px){
}

@media only screen and (min-width: 634px){
    .container{
        max-width: 70vw;
        margin: 0 auto;
        width: 100%;
    }

    header ul li a img{
        min-width: 22px;
        margin-left: 10px;
    }

    header a figure img{
        width: initial;
    }

    main article .sectionAboutUser .linha{
        display: flex;
    }

    main article .sectionAboutUser .linha_coluna--esquerda{
        flex-basis: 45%;
        align-self: center;
        text-align: center;
    }
    main article .sectionHighlightUser ul{
        justify-content: space-between;
    }

    main article .sectionAboutUser figure img{
        width: 140px
    }
    main article .sectionAboutUser .linha_coluna--direita{
        flex-basis: 100%;
    }

    main article .sectionAboutUser .aboutUser{
        max-width: 370px;
    }

    main article .sectionAboutUser .aboutUser__name h2 {
        font-size: 1.3rem;
    }
    main article .sectionAboutUser .aboutUser__name button{
        padding: 7px 10px;
    }

    main article .sectionHighlightUser ul li figure img{
        width: 90px;
    }
    main article .sectionHighlightUser ul li h3{
        font-size: 0.9rem;
    }

    main article .sectionAboutUser figure img{
        width: 150px;
        margin-right: 10px;
    }
    main article .sectionAboutUser .aboutUser{
        max-width: 440px;
    }
    main article .sectionAboutUser .aboutUser__name h2{
        font-size: 1.4rem;
    }
    main article .sectionAboutUser .aboutUser__follows ul li a{
        font-size: 1rem;
    }
    main article .sectionAboutUser .aboutUser__description h3{
        font-size: 1rem;
    }
    main article .sectionAboutUser .aboutUser__description p{
    }
    main article .sectionHighlightUser ul{
        font-size: 0.9rem;
        overflow-x: visible;
    }

    .feed .feed__galery ul{
        
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;  
    }
    
    .feed .feed__menu li{
        margin: 0 22px;
    }
    


}

@media only screen and (min-width: 480px){
    header ul li a img{
        width: 18px;
        margin-left: 10px;
    }
}